body {
  font-family: sans-serif;
  
}

#cow-container {
  max-width: 50em;
  margin: 0 auto;
}

.item {
  border-top: 1px solid;
  border-bottom: 1px solid;
  position: relative;
  height: 120px;
  overflow: hidden;
}

.cow {
  width: 100px;
  height: 85px;
  position: absolute;
  animation-name: skate;
  /* animation-duration: 5s; / * TODO: Inject: time elpapsed * / */
  animation-timing-function: linear;
  background-image: url("./cow.jpg");
  bottom: 0px;
  right: 0%;
}


.backflip .cow {
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-name: backflip;
}

.expired .cow {
  bottom: -100px;
  transition: bottom 1s;
  transform: rotate(-180deg);
}

.countdown {
  color: #FFF;
  background-color: #FF6B6B;
  
  position: absolute;
  top: -15px;
  left: -15px;
  width: 25px;
  height: 25px;
  
  text-align: center;
  padding: 3px;
  display: flex;
  justify-content: center;
  
  border-radius: 20px;
  border: 2px solid #FFF;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  font-size: 12px;
}



@keyframes skate {
  0% {
    right: 100%;
  }
  100% {
    right: 0%; /* TODO: Inject: Percentage */
  }
}

@keyframes backflip {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-450deg);
  }
}
